body{
	padding: 0px;
	margin: 0px;
}

#NavBar{ 
	background-color: blue;
	width: desiredSpace(100%, 10%);
	position: absolute;
	left: 10%;
	top: 2.5%;
	height: desiredSpace(100%,40%);
}

p{
	display: inline-block;
}

div{
	padding: 10px;

}
